<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Product Details</title>
  <link rel="stylesheet" href="static/product_styles.css">
</head>
<body>

  <div class="container">
    <div class="image-section">
      <img id="main-image" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTF02_VW_34FR+watch-40-alum-silver-nc-6s_VW_34FR_WF_CO_GEO_IN?wid=1000&hei=1000&fmt=jpeg&qlt=90&.v=1594259213000" alt="Apple Watch">
    </div>

    <div class="details-section">
      <h2>Unisex Silver-Toned Series 3 Smart Watch</h2>
      <div class="brand">Apple</div>
      <div class="price">Rs 31999</div>

      <div class="description">
        Low And High Heart Rate Notifications. Emergency SOS. New Breathe Watch Faces. Automatic Workout Detection. New Yoga And Hiking Workouts. Advanced Features For Runners Like Cadence And Pace Alerts. New Head-To-Head Competitions. Activity Sharing With Friends. Personalized Coaching. Monthly Challenges And Achievement Awards. Walkie-Talkie, Make Phone Calls, And Send Messages. Listen To Apple Music And Apple Podcasts. Use Siri In All-New Ways. Silver Aluminum Case. Built-In GPS, GLONASS, Galileo, And QZSS. S3 With Dual-Core Processor. W2 Apple Wireless Chip. Barometric Altimeter. Capacity 8GB. Optical Heart Sensor. 1 Year Manufacture Warranty.
      </div>

      <div class="preview">
        <strong>Product Preview</strong><br>
        <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MU6D2_VW_34FR+watch-44-alum-silver-nc-6s_VW_34FR_WF_CO_GEO_IN?wid=1000&hei=1000&fmt=jpeg&qlt=90&.v=1594259213000" onclick="changeImage(this.src)">
        <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MU6D2ref_VW_34FR+watch-44-alum-silver-nc-6s_VW_34FR_WF_CO_GEO_IN?wid=1000&hei=1000&fmt=jpeg&qlt=90&.v=1594259213000" onclick="changeImage(this.src)">
        <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTF02ref_VW_34FR+watch-40-alum-silver-nc-6s_VW_34FR_WF_CO_GEO_IN?wid=1000&hei=1000&fmt=jpeg&qlt=90&.v=1594259213000" onclick="changeImage(this.src)">
      </div>

      <button class="add-cart-btn">Add to Cart</button>
    </div>
  </div>

  <!-- <script src="script.js"></script> -->
</body>
</html>
